/** {
	border: 1px solid rgba(0, 0, 0, 0.3);
}*/

body {
	margin: 0;
	padding: 0px 60px;
	font-family: 'Kreon', serif;
	font-size: 20px;
	letter-spacing: 1px;
	text-align: center;
}

h1 {
	margin-top: 70px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	padding: 20px 0px;
	margin: 0px 20px;	
	display: inline-block;
}

.navbar {
	overflow: hidden;
	background-color: rgba(255,255,255,0.5);
	padding: 0;
	margin: auto;
	width: 100%;
	text-align: center;
}

.navbar a {
  display: block;
  color: #777;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover:not(.active) {
  background-color: #fdfcfc;
}

.circular {
	border-radius: 50%;
	height: 200px;
	margin-top: 50px;
	margin-bottom: 0px;
}

.content {
	text-align: center;
	margin: 50px auto;
	width: 100%;
	max-width: 960px;
	height: auto;
	border-radius: 5px;
}

/*a {
  text-decoration: none;
  background: #eee;
  padding: .5em;
  margin-bottom: 1em;
  display: inline-block;
}*/


/**,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}


.container {
  position: relative;
  padding: 25px;
}


.container.cf {
	max-width: 600px;
	display: inline-block;
}


.animation-element {
  opacity: 0;
  position: relative;
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-left.skill {
	float: left;
	width: 47%;
	margin: 0% 1.5% 3% 1.5%;
	background: #F5F5F5;
	padding: 15px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	border: solid 1px #EAEAEA;
}


/*.animation-element.slide-left.skill:nth-of-type(odd) {
  width: 48.5%;
  margin: 0% 1.5% 3.0% 0%;
}*/

/*.animation-element.slide-left.skill:nth-of-type(even) {
  width: 48.5%;
  margin: 0% 0% 3.0% 1.5%;
}*/

.animation-element.slide-left.skill .header{
  float: left;
  width: 100%;
}

.animation-element.slide-left.skill .left{
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.animation-element.slide-left.skill .right{
  float: left;
  margin-top: 20px;
}

.animation-element.slide-left.skill img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
}

.animation-element.slide-left.skill h4 {
  margin: 0px 0px 5px 0px;
}

 .mySlides {
 	display: none;
 	width: 100%;
 }

.w3-left, .w3-right, .w3-badge {
	cursor:pointer
}


.slider-container h3 {
	margin-top: 20px;
}


.w3-content.w3-display-container.slider {
	height: 250px;
}


/*#content {       
	width:auto;
	text-align: justify;
	padding: 10px;
	border: 2px solid black;
	border-top: none;
	border-left: none;
	z-index: 2;
	display: table;
}*/

#meta h3{
/*	display: table-cell;
*/	text-align: center;
	margin-top: 0px;
}

#meta p {
	font-weight: normal;
}

#issuecodes h3{
	text-align: center;
	margin-top: 0px;
}

#issuecodes p {
	font-weight: normal;
}

table {
	margin:1em;
	border-collapse: collapse;
}

th {
	width: 450px;
	height: 300px;
	vertical-align: top;
}

td {
	height: 300px;
}

td,th {
	padding: 20px;
	border: 1px solid #ccc;
	text-align: left;
}

.fa {
	padding: 15px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 30px 2px;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-linkedin {
	background: #007bb6;
	color: white;
}

.fa-github {
	background: black;
	color: white;
}